In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Busselton,-33.6500,115.3333,64.99,64,100,5.99,AU,2021-04-10 18:16:56
1,1,Nantucket,41.2835,-70.0995,53.01,81,1,12.66,US,2021-04-10 18:14:59
2,2,Mataura,-46.1927,168.8643,57.00,93,96,5.01,NZ,2021-04-10 18:16:56
3,3,Pocinhos,-7.0767,-36.0611,75.20,88,75,14.97,BR,2021-04-10 18:16:57
4,4,San Policarpo,12.1791,125.5072,79.21,80,98,10.63,PH,2021-04-10 18:16:57

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Pocinhos,-7.0767,-36.0611,75.20,88,75,14.97,BR,2021-04-10 18:16:57
4,4,San Policarpo,12.1791,125.5072,79.21,80,98,10.63,PH,2021-04-10 18:16:57
5,5,Rikitea,-23.1203,-134.9692,78.75,71,2,9.51,PF,2021-04-10 18:16:57
7,7,Saint-Philippe,-21.3585,55.7679,80.60,69,90,11.12,RE,2021-04-10 18:16:58
11,11,Mahebourg,-20.4081,57.7000,78.80,78,40,11.50,MU,2021-04-10 18:16:13
16,16,Key Largo,25.0865,-80.4473,82.99,69,1,8.01,US,2021-04-10 18:12:34
19,19,Caravelas,-17.7125,-39.2481,81.73,61,26,8.21,BR,2021-04-10 18:17:02
23,23,Punta Cardon,11.6581,-70.2150,83.48,61,91,22.84,VE,2021-04-10 18:17:03
25,25,Castro,-24.7911,-50.0119,78.40,38,2,2.08,BR,2021-04-10 18:17:04
27,27,Bathsheba,13.2167,-59.5167,78.80,65,20,8.05,BB,2021-04-10 18:17:04

In [19]:
preferred_cities_df.count()

City_ID       189
City          189
Lat           189
Lng           189
Max Temp      189
Humidity      189
Cloudiness    189
Wind Speed    189
Country       186
Date          189
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy().dropna()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3         Pocinhos      BR     75.20  -7.0767  -36.0611
4    San Policarpo      PH     79.21  12.1791  125.5072
5          Rikitea      PF     78.75 -23.1203 -134.9692
7   Saint-Philippe      RE     80.60 -21.3585   55.7679
11       Mahebourg      MU     78.80 -20.4081   57.7000
16       Key Largo      US     82.99  25.0865  -80.4473
19       Caravelas      BR     81.73 -17.7125  -39.2481
23    Punta Cardon      VE     83.48  11.6581  -70.2150
25          Castro      BR     78.40 -24.7911  -50.0119
27       Bathsheba      BB     78.80  13.2167  -59.5167

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

IndexError: list index out of range

In [27]:
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

Hotel not found... skipping.

In [29]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Pocinhos,BR,75.20,-7.0767,-36.0611,Kemelly
4,San Policarpo,PH,79.21,12.1791,125.5072,JM Lodge
5,Rikitea,PF,78.75,-23.1203,-134.9692,Pension Maro'i
7,Saint-Philippe,RE,80.60,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
11,Mahebourg,MU,78.80,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
16,Key Largo,US,82.99,25.0865,-80.4473,Bayside Inn Key Largo
19,Caravelas,BR,81.73,-17.7125,-39.2481,Pousada dos Navegantes
23,Punta Cardon,VE,83.48,11.6581,-70.2150,Bambuda hotel
25,Castro,BR,78.40,-24.7911,-50.0119,CHACARA BAILLY
27,Bathsheba,BB,78.80,13.2167,-59.5167,Atlantis Hotel

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))